<%- include ("partials/header"); %>
    <h1>Daftar Siswa</h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nama</th>
                <th>Umur</th>
                <th>Tanggal Lahir</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <% data.forEach(item => { %>
        <tr>
            <td>1</td>
            <td>rajan</td>
            <td>20</td>
            <td>3 april 2000</td>
            <td>Belum Menikah</td>
        </tr>
        <% }); %>
    </tbody>
    </table>
<a href="add" class="btn btn-primary">Tambah Daftar</a>

<%- include ("partials/footer"); %>